Connected Services/Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55255/Services/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55255/Services/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55255/Services/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CrmServices.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AddNewService_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewService" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewService_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateService_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateService" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateService_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteService_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteService" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteService_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetService_InputMessage">
    <wsdl:part name="parameters" element="tns:GetService" />
  </wsdl:message>
  <wsdl:message name="IService_GetService_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AddNewService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddNewService" message="tns:IService_AddNewService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddNewServiceResponse" message="tns:IService_AddNewService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateService" message="tns:IService_UpdateService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateServiceResponse" message="tns:IService_UpdateService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteService" message="tns:IService_DeleteService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteServiceResponse" message="tns:IService_DeleteService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetService" message="tns:IService_GetService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetServiceResponse" message="tns:IService_GetService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewService">
      <soap:operation soapAction="http://tempuri.org/IService/AddNewService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateService">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteService">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetService">
      <soap:operation soapAction="http://tempuri.org/IService/GetService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:55255/Services/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>