Connected Services/Service/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CrmServices.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CrmServices.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceDto" nillable="true" type="tns:ServiceDto" />
  <xs:complexType name="ArrayOfServiceDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceDto" nillable="true" type="tns:ServiceDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceDto" nillable="true" type="tns:ArrayOfServiceDto" />
</xs:schema>