Connected Services/PatientsService/PatientsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PatientsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55255/Services/PatientsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55255/Services/PatientsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55255/Services/PatientsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CrmModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPatientsService_AddNewPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewPatient" />
  </wsdl:message>
  <wsdl:message name="IPatientsService_AddNewPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IPatientsService_DeletePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePatient" />
  </wsdl:message>
  <wsdl:message name="IPatientsService_DeletePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePatientResponse" />
  </wsdl:message>
  <wsdl:message name="IPatientsService_UpdatePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePatient" />
  </wsdl:message>
  <wsdl:message name="IPatientsService_UpdatePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePatientResponse" />
  </wsdl:message>
  <wsdl:message name="IPatientsService_GetPatients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatients" />
  </wsdl:message>
  <wsdl:message name="IPatientsService_GetPatients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientsResponse" />
  </wsdl:message>
  <wsdl:portType name="IPatientsService">
    <wsdl:operation name="AddNewPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientsService/AddNewPatient" message="tns:IPatientsService_AddNewPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientsService/AddNewPatientResponse" message="tns:IPatientsService_AddNewPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientsService/DeletePatient" message="tns:IPatientsService_DeletePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientsService/DeletePatientResponse" message="tns:IPatientsService_DeletePatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientsService/UpdatePatient" message="tns:IPatientsService_UpdatePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientsService/UpdatePatientResponse" message="tns:IPatientsService_UpdatePatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatients">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientsService/GetPatients" message="tns:IPatientsService_GetPatients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientsService/GetPatientsResponse" message="tns:IPatientsService_GetPatients_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPatientsService" type="tns:IPatientsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewPatient">
      <soap:operation soapAction="http://tempuri.org/IPatientsService/AddNewPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePatient">
      <soap:operation soapAction="http://tempuri.org/IPatientsService/DeletePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePatient">
      <soap:operation soapAction="http://tempuri.org/IPatientsService/UpdatePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatients">
      <soap:operation soapAction="http://tempuri.org/IPatientsService/GetPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PatientsService">
    <wsdl:port name="BasicHttpBinding_IPatientsService" binding="tns:BasicHttpBinding_IPatientsService">
      <soap:address location="http://localhost:55255/Services/PatientsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>