Connected Services/PatientsService/PatientsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CrmModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CrmModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PatientDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Allergies" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patronymic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientDto" nillable="true" type="tns:PatientDto" />
  <xs:complexType name="ArrayOfPatientDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientDto" nillable="true" type="tns:PatientDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientDto" nillable="true" type="tns:ArrayOfPatientDto" />
</xs:schema>