Connected Services/TimeTablesServiceReference/TimeTablesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CrmServices.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CrmServices.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:complexType name="ArrayOfTimeTableDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeTableDto" nillable="true" type="tns:TimeTableDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeTableDto" nillable="true" type="tns:ArrayOfTimeTableDto" />
  <xs:complexType name="TimeTableDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DayOfWeek" type="xs:int" />
      <xs:element minOccurs="0" name="DayOff" type="xs:boolean" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:UserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeTableDto" nillable="true" type="tns:TimeTableDto" />
</xs:schema>