Connected Services/ServiceReferenceRoles/RolesService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CrmServices.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CrmServices.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RoleDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleDto" nillable="true" type="tns:RoleDto" />
  <xs:complexType name="ArrayOfUserDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDto" nillable="true" type="tns:UserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDto" nillable="true" type="tns:ArrayOfUserDto" />
  <xs:complexType name="UserDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Department" nillable="true" type="tns:DepartmentDto" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patronymic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:RoleDto" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timetables" nillable="true" type="tns:ArrayOfTimetablesDto" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:complexType name="DepartmentDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentDto" nillable="true" type="tns:DepartmentDto" />
  <xs:complexType name="ArrayOfTimetablesDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimetablesDto" nillable="true" type="tns:TimetablesDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimetablesDto" nillable="true" type="tns:ArrayOfTimetablesDto" />
  <xs:complexType name="TimetablesDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DayOfWeek" type="xs:int" />
      <xs:element minOccurs="0" name="DayOff" type="xs:boolean" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="tns:DepartmentDto" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:UserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimetablesDto" nillable="true" type="tns:TimetablesDto" />
  <xs:complexType name="ArrayOfRoleDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleDto" nillable="true" type="tns:RoleDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleDto" nillable="true" type="tns:ArrayOfRoleDto" />
</xs:schema>