Connected Services/ServiceReferenceRoles/RolesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RolesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55255/Services/RolesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55255/Services/RolesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55255/Services/RolesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CrmServices.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRolesService_AddNewRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewRole" />
  </wsdl:message>
  <wsdl:message name="IRolesService_AddNewRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRolesService_UpdateRole_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRole" />
  </wsdl:message>
  <wsdl:message name="IRolesService_UpdateRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRolesService_DeleteRole_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRole" />
  </wsdl:message>
  <wsdl:message name="IRolesService_DeleteRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRolesService_GetRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoles" />
  </wsdl:message>
  <wsdl:message name="IRolesService_GetRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IRolesService_GetRoleById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleById" />
  </wsdl:message>
  <wsdl:message name="IRolesService_GetRoleById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IRolesService">
    <wsdl:operation name="AddNewRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRolesService/AddNewRole" message="tns:IRolesService_AddNewRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRolesService/AddNewRoleResponse" message="tns:IRolesService_AddNewRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRolesService/UpdateRole" message="tns:IRolesService_UpdateRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRolesService/UpdateRoleResponse" message="tns:IRolesService_UpdateRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRolesService/DeleteRole" message="tns:IRolesService_DeleteRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRolesService/DeleteRoleResponse" message="tns:IRolesService_DeleteRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IRolesService/GetRoles" message="tns:IRolesService_GetRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRolesService/GetRolesResponse" message="tns:IRolesService_GetRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleById">
      <wsdl:input wsaw:Action="http://tempuri.org/IRolesService/GetRoleById" message="tns:IRolesService_GetRoleById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRolesService/GetRoleByIdResponse" message="tns:IRolesService_GetRoleById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRolesService" type="tns:IRolesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewRole">
      <soap:operation soapAction="http://tempuri.org/IRolesService/AddNewRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <soap:operation soapAction="http://tempuri.org/IRolesService/UpdateRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap:operation soapAction="http://tempuri.org/IRolesService/DeleteRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap:operation soapAction="http://tempuri.org/IRolesService/GetRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleById">
      <soap:operation soapAction="http://tempuri.org/IRolesService/GetRoleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RolesService">
    <wsdl:port name="BasicHttpBinding_IRolesService" binding="tns:BasicHttpBinding_IRolesService">
      <soap:address location="http://localhost:55255/Services/RolesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>